<div class="items-list">
    <ng-container *ngFor="let item of items$ | async">
        <app-list-item
            *ngIf="item.id !== editableItemId; else specialItemTemplate"
            [item]="item"
            (onRemoveItem)="deleteItem(item.id)"
            (onEditItem)="editItem(item.id)"
            (addToShipment)="addItemToShipment(item.id)"
        ></app-list-item>

        <ng-template #specialItemTemplate>
            <app-item-form
                [item]="item"
                [editableItemId]="editableItemId"
                (onItemSaved)="reload()"
                (onCancel)="editableItemId = null"
            ></app-item-form>
        </ng-template>
    </ng-container>
</div>
<h2>Add Product</h2>
<app-item-form (onItemAdded)="reload()"></app-item-form>
